@use '../abstracts' as * ;

.president {
  overflow: hidden;

  &:hover {
    .president__profile {
      &__photo {
        filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.27));

        img {
          filter: grayscale(0);
          transform: scale3d(1.04, 1.04, 1.04);
        }
      }
      
      figcaption {
        h3 {
          text-decoration: underline;
        }
      }
    }
  }

  &__profile {
    width: 100%;

    &__photo {
      overflow: hidden;
      transition: filter .4s var(--cubic-ease-in-out);

      @include mq(small) {
        max-height: 20rem;
      }

      @include mq(small) {
        max-height: 28rem;
      }

      img {
        display: block;
        filter: grayscale(100%);
        transform: scale3d(1.01, 1.01, 1.01);
        transition: 
          transform .4s var(--cubic-ease-in-out),
          filter .4s var(--cubic-ease-in-out);
      }
    }
      
    figcaption {
      h3 {
        margin-top: 0.9375rem;
        font-size: var(--font-30);
        line-height: 2.25rem;
      }

      p {
        margin-top: 0.625rem;
      }
    }
  }
}