$colors: (
  font: (
    black: hsl(0, 0%, 0%),
    lightblack: hsl(0, 0%, 18%),
    gray: hsl(0, 0%, 55%),
    white: hsl(0, 0%, 100%),
  ),
  layout: (
    green: hsl(140, 39%, 79%),
    orange: hsl(32, 100%, 69%),
    gray: hsl(0, 0%, 95%),
    blue: hsl(226, 84%, 33%),
  ),
  ui: (
    inputborder: hsl(0, 0%, 86%),
  )
);